/*
400 & 800
font-family: 'Proza Libre', sans-serif;

logo
font-family: 'Pushster', cursive;
*/

:root {
    --lightBlue: #1EC1CB;
    --darkBlue: #00545F;
    --orange: #FF8A44;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Proza Libre', sans-serif;
}

/* Navbar CSS*/

nav {
    background-color: var(--lightBlue);
}

.nav-content {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    justify-content:space-between;
}

.logo {
    font-family: 'Pushster';
    font-size: 1.5rem;
}

nav ul {
    background-color: #fff;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    border-radius: 100px;
}

nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100%;
}

nav ul li a {
    text-decoration: none;
    color: black;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li:hover {
    background-color: var(--orange);
    color: white;
}

nav ul li:hover  a {
    color: white!important;
    transform: scale(1.05);
    transition: 0.2s ease;
}

nav ul li:first-child:hover {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

nav ul li:last-child:hover {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

#active {
    color: var(--darkBlue);
    font-weight: 900;
}

/* Navbar Responsive */

@media screen and (max-width: 680px) {
    .nav-content {
        flex-direction: column;
        align-items: center;
    }
    .logo {
        margin-bottom: 1rem;
    }

    nav ul {
        width: 100%;
    }

    nav a {
        padding: 0.5rem 0;
    }

    nav ul {
        grid-template-columns: 25% 25% 25% 25%;
    }

}


/* Banner CSS*/

.banner-container {
    position: relative;
    background-color: var(--lightBlue);
    height: 600px;
    margin-bottom: 4rem;
}

.banner-contents {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5rem 1rem;
    height: 100%;
}

.banner-contents h1 {
    font-weight: 800;
    font-size: 2.7rem;
    margin-bottom: 2rem;
}

.banner-contents p {
    color: white;
    font-size: 1.2rem;
    line-height: 1.7rem;
}

#button {
    display: block;
    background-color: var(--orange);
    color: black;
    text-decoration: none;
    padding: 0.5em;
    width: 150px;
    text-align: center;
    margin-top: 2rem;
    border-radius: 30px;
    font-weight: 800;
    font-size: 1.1em;
    
    
}

#button:hover {
    background: var(--darkBlue);
    color: white;
    border: 1px solid white;
    transform: scale(1.05);
    transition: 0.2s ease-in;
}

.banner-right img {
    width: 100%;
    height: auto;
}

/*************** SVG Background Start ********************/

.svg-waves {
    background: rgb(221, 221, 221);
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.svg-waves svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 66px;
}

.svg-waves .shape-fill {
    fill: var(--lightBlue)
}

/*************** SVG Background End ********************/

.ski-slide {
    position: absolute;
    width: 150px;
    height: auto;
    z-index: 100;
    bottom: -5%;
    right: -100%;
    transition: 7s ease-in;
    overflow: hidden;
}

.ski-slide img {
    width: 100%;
    height: auto;
}

/* Banner Responsive */

@media screen and (max-width: 680px) {
    .banner-contents {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .banner-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .banner-contents img {
        width: 200px;
        margin: 1rem;
    }
}


/* Stats CSS*/

.stats-container {
    background: rgb(221, 221, 221);
    height: 110px;
}

.stats-contents {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    padding: 1rem;
    color: black;
}

.stat-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stat-item img{
    height: 40px;
    margin-bottom: 0.5rem;
}

.stat-item h2{
    font-family: 'Nunito Sans'; 
    font-size: 1rem;
}

/* Stats Responsive */

@media screen and (max-width: 680px) {
    .stats-contents {
        padding: 0.2rem;
    }
    .stat-item h2 {
        font-size: 0.7rem;
    }
    .stat-item {
        justify-content: flex-end;
    }
}

/* Intro CSS*/

.intro-container {
    text-align: center;
    margin: 2rem 1rem;
}

.intro-container h2{
    font-size: 2.5rem;
}

.intro-content {
    max-width: 1200px;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.intro-card {
    position: relative;
    background: var(--lightBlue);
    border-radius: 5px;
    padding: 2rem 1rem;
}

.intro-card h3 {
    font-size: 1.5em;
}

.intro-img {
    height: 200px;
    width: 100%;
    margin: 1rem auto;
}

.intro-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border: 1px solid white;
    border-radius: 10px;
}

.intro-card p {
    color: white;
}

.intro-card:hover {
    transform: scale(1.05);
    background: var(--darkBlue);
    color: black;
    transition: 0.3s ease;
}

.intro-card:hover img{
    transform: scale(0.9);
    box-shadow: 10px 10px 20px black;
    border: 1px solid black;
    transition: 0.3s ease;
}

.intro-card:hover h3 {
    color: var(--orange);
    transition: 0.3s ease;
}

.intro-card::before, 
.intro-card::after {
    content: "";
    position: absolute;
    top: 0.50em;
    bottom: 0.50em;
    left: 0.50em;
    right: 0.50em;
    z-index: -1;

}

.intro-card::before {
    transform: scale(0,1);
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.intro-card:hover::before {
    transform: scale(1.02,1);
    transition: transform ease-out 0.25s;
}

.intro-card::after {
    transform: scale(1,0);
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.intro-card:hover::after {
    transform: scale(1,1.02);
    transition: transform ease-out 0.25s;
}

/* Intro Responsive */

@media screen and (max-width: 680px) {
    .intro-content {
        grid-template-columns: 1fr;
    }

    .intro-container h2 {
        font-size: 1.5rem;
    }
}

/* About CSS*/


.about-container {
    position: relative;
    height: 500px;
    margin-top: 8rem;
    background: var(--darkBlue);
    transform: skewY(-7deg);
    overflow: hidden;
}

.about-background {
    position: absolute;
    background: url(img/snowfall.png);
    background-position: center;
    background-size: 400px;
    height: 120%;
    width: 100%;
    z-index: -10;
    bottom: 100%;
    opacity: 0;
    transition: 8s ease-out;
}


.about-content {
    max-width: 1200px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1.25fr;
    margin: 0 auto;
    padding: 2rem 1rem;
    color: white;
    text-align: right;
    transform: skewY(7deg);
}

.about-content h2 {
    color: var(--orange);
    margin-bottom: 1rem;
    font-size: 2rem;
}

.about-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-left img {
    width: 90%;
}

.about-right {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-end;
}

/* About Responsive */ 

@media screen and (max-width: 680px) {
    .about-content {
        display: grid;
        grid-template-columns: 1fr; 
        grid-gap: 20px;
    }

    .about-left img {
    width: 70%;
}

    .about-right{
        justify-content:center;
        align-items: center;
        text-align: center;
    }
    
}

/* Gallery CSS */

.gallery-container {
    margin: 5rem 0;
}

.gallery-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content:center;
    align-items: center;
}

.gallery-item {
    position: relative;
    margin: 0 0.5rem;
    border: 13px solid white;
}

#gallery-item1{
    height: 300px;
}

#gallery-item2 {
    height: 400px;

}

#gallery-item3  {
    height: 500px;
}

.gallery-item img{
    height: 100%;
    width: 250px;
    object-fit: cover;
}

/* First Gallery image */
#gallery-item1::before{
    content: "";
    position: absolute;
    background: var(--darkBlue);
    top: -10%;
    right: 85%;
    bottom: 60%;
    left: -10%;
    z-index: -10;
    box-shadow: -5px -5px 10px rgb(189, 189, 189);
    transition: 0.8s ease;
}

#gallery-item1::after{
    content: "";
    position: absolute;
    background: var(--orange);
    top:80%;
    right: 60%;
    bottom: -10%;
    left: -10%;
    z-index: -10;
    box-shadow: -5px 5px 10px rgb(189, 189, 189);
    transition: 0.8s ease;
}

#gallery-item1:hover::before {
    top: -10%;
    right: 50%;
    bottom: 40%;
    left: -10%;
}

#gallery-item1:hover::after {
    top:70%;
    right: 20%;
    bottom: -10%;
    left: -10%;
}

/* Second Gallery image */
#gallery-item2::before{
    content: "";
    position: absolute;
    background: var(--orange);
    top: -7%;
    right: 75%;
    bottom: 95%;
    left: -10%;
    z-index: -10;
    box-shadow: -5px -5px 10px rgb(189, 189, 189);
    transition: 0.8s ease;
}

#gallery-item2::after{
    content: "";
    position: absolute;
    background: var(--darkBlue);
    top: 0;
    right: 20%;
    bottom: -7%;
    left: 20%;
    z-index: -10;
    box-shadow: 5px 5px 10px rgb(189, 189, 189);
    transition: 0.8s ease;
}

#gallery-item2:hover::before {
    top: -7%;
    right: 35%;
    bottom: 90%;
    left: -10%;

}

#gallery-item2:hover::after {
    top: 0;
    right: 0;
    bottom: -7%;
    left: 0; 
}

/* Third Gallery image */

#gallery-item3::before{
    content: "";
    position: absolute;
    background: var(--orange);
    top: -6%;
    right: -10%;
    bottom: 45%;
    left: 80%;
    z-index: -10;
    box-shadow: 5px -5px 10px rgb(189, 189, 189);
    transition: 0.8s ease;
}

#gallery-item3::after{
    content: "";
    position: absolute;
    background: var(--darkBlue);
    top: 90%;
    right: -10%;
    bottom: -6%;
    left: 0%;
    z-index: -10;
    box-shadow: 10px 5px 10px rgb(189, 189, 189);
    transition: 0.8s ease;
}

#gallery-item3:hover::before {
    top: -6%;
    right: -10%;
    bottom: 35%;
    left: 0%;
    z-index: -10;

}

#gallery-item3:hover::after {
    top: 70%;
    right: -10%;
    bottom: -6%;
    left: 0%;
    z-index: -10;
}

/* Gallery Responsive */

@media screen and (max-width: 900px) {
    .gallery-content {
        flex-direction: column;
        /* grid-gap: 100px; */
    }

    .gallery-item {
        margin-top: 5rem;
        width: 70%;
    }

    .gallery-item img {
        width: 100%;
    }

    #gallery-item1, #gallery-item2, #gallery-item3 {
        height: 300px;
    }
    /* Gallary item 1 */

    #gallery-item1::before{
    top: -25px;
    right: 85%;
    bottom: 60%;
    left: -25px;
    }

    #gallery-item1::after{
    top:80%;
    right: 60%;
    bottom: -25px;
    left: -25px;
    }

    /* Gallary item 2 */

    #gallery-item2::before{
    top: -25px;
    right: 75%;
    bottom: 95%;
    left: -25px;
    }

    #gallery-item2::after{
    top: 0;
    right: 20%;
    bottom: -25px;
    left: 20%;
    }

    /* Gallary item 3 */

    #gallery-item3::before{
    top: -25px;
    right: -25px;
    bottom: 45%;
    left: 80%;
    }

    #gallery-item3::after{
    top: 90%;
    right: -25px;
    bottom: -25px;
    left: 0%;
    }
    
}

/* Explore CSS */

.explore-container {
    position: relative;
    height: 600px;
    padding: 4rem 0;
}

.explore-container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--lightBlue);
    transform: skewY(7deg);
    z-index: -10;
}

.explore-container::after {
    content: "";
    position: absolute;
    top: 50%;
    bottom: -20%;
    right: 0;
    left: 0;
    background: var(--lightBlue);
    z-index: -10;
}

.explore-content {
    max-width: 1200px;
    margin: 3rem auto;
    color: white;
    line-height: 1.5;
    text-align: center;
}

.explore-content h2 {
    color: var(--darkBlue);
    margin-bottom: 2rem;
    font-size: 2rem;
}

.explore-bottom {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 400px;
    text-align: left;
    margin: 0 1rem;
    padding-top: 2rem;
    overflow: hidden;
}

.explore-bottom p {
    height: 70%;
    background: var(--orange);
    padding: 1rem;
    box-shadow: 0 0 20px var(--darkBlue);
    color: black;
    display: flex;
    align-items: center;
    font-size: 1em;
    transform: translateX(-100%);
    opacity: 0;
    transition: 2s ease-in;
}

.explore-bottom img {
    height: 70%;
    box-shadow: 10px -10px 1px black;
    margin-left: 1rem;
    object-fit: cover;
    transform: translateX(100%);
    opacity: 0;
    transition: 2s ease-in;
}

/* Explore Responsive */

@media screen and (max-width: 800px) {
    .explore-bottom {
        display: grid;
        grid-template-columns: 2fr 1fr;
        margin: 0 2rem;
        font-size: 0.6rem;
        height: 300px;
    }
    .explore-bottom img {
        width: 100%;
    }
}

/* Footer CSS*/

footer {
    background: var(--darkBlue);
    color: white;
    height: 250px;
    text-align: center;
    padding: 2rem 0;
}

.footer-content {
    max-width: 1200px;
    margin: 1rem auto;
    display: flex;
    justify-content:center;
    align-items: center;
}

.footer-content a {
    margin: 1rem 2rem;
    text-decoration: none;
    color: white;
}

.footer-content a:hover {
    color: var(--orange);
    transition: 0.3s ease;
    text-decoration: underline;
}

::selection {
    background: var(--orange);
    color: var(--darkBlue);
}

/* Footer Responsive */ 

@media screen and (max-width: 680px) {
    .footer-content a {
        margin: 0.5rem ;
    }
    
footer {
    height: 200px;
}
}